<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hermosa Travels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Signup To Book Your Visit To Paradise</h1>
        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name:</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label for="{{ form.contact.id_for_label }}">Contact:</label>
                {{ form.contact }}
            </div>

            <div class="form-group">
                <label for="{{ form.travel_date.id_for_label }}">Travel Date:</label>
                {{ form.travel_date }}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Register</button>
        </form>
    </div>
</body>
</html>
